/* #blueAngels {
    margin-top: -50px;
    position: absolute;
    z-index: 99;
} */

/* For Use with Satellite */
#blueAngels {
    margin-top: -180px;
    position: absolute;
    z-index: 99;
}

#clickMe {
    color: darkgray;
    cursor: pointer;
    font-size: 12px;
    margin-left: -85px;
    margin-top: -185px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    z-index: 100;
}

#prompt {
    text-align: center;
    width: 100%;
}

.blueAngel {
    color: rgb(0, 57, 166);
    z-index: 99;
}

