#blueAngels {
    margin-top: -50px;
    position: absolute;
    z-index: 99;
}

/* For Use with Satellite */
/* #blueAngels {
    margin-top: -180px;
    position: absolute;
    z-index: 99;
} */

.blueAngel {
    color: rgb(0, 57, 166);
    z-index: 99;
}

