.projDescription {
    font-size: 14px;
    width: 85%;
}

.projDetails {
    background: #efefef;
    display: block;
    font-size: 13px;
    min-height: 150px;
    padding: 10px;
    width: 100%;
}

.projFeatures {
    display: flex;
}

.projFeatures ul {
    margin-bottom: 0px;
    width: 250px;
}

.projFeatures ul li {
    margin-left: 17px;
    list-style-type: circle;
}

.projHeader {
    background: #e0e0e0;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: block;
    height: 130px;
}

.projImg {
    border: 1px solid gray;
    float: left;
    height: 130px;
    margin: 0px 15px 0px 0px;
    width: 130px;
}

.projSubTitle {
    font-size: 14px;
    margin-top: 8px;
}

.project {
    border: 1px solid darkgray;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    padding: 5px !important;
    width: 100%;
}

.project a {
    font-size: 14px;
}

.project:first-child {
    margin-top: 0px;
}

.projTitle {
    display: inline;
}

.technology {
    background: #fff;
    border: 1px solid darkgray;
    border-radius: 0px;
    padding: 2px 5px;
    text-align: center;
    white-space: nowrap;
}

.technology:hover {
    background: rgb(0, 57, 166);
    color: white;
}

.techList {
    display: block;
    font-size: 14px;
    line-height: 26px;
}