
/* ROCKET LAUNCH */

#gradient {
    background-image: 
        linear-gradient(
            black,
            rgb(0, 0, 37),
            rgb(88, 0, 88), 
            red, 
            orange, 
            yellow, 
            white
        );
    display: none;
    height: 100%;
    margin-top: -60px;
    opacity: 0;
    position: absolute;
    z-index: 25;
}

#launchButton {
    background-image: url("../images/border.png");
    background-repeat: no-repeat;
    /* background: rgb(206, 0, 0); */
    /* border: 3px dotted black; */
    border-radius: 70px;
    height: 70px;
    position: relative;
    text-align: center;
    width: 70px;
    z-index: 1;

    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 15s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#launchPad {
    border-radius: 70px;
    cursor: pointer;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
    width: 70px;
    z-index: 100;
}

#launchText {
    color: white;
    font-size: 13px;
    margin-left: 0px;
    margin-top: -50px;
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 2;
}

#rocket {
  margin-left: 12px;
  opacity: 0;
  padding: 0;
  transform: rotate(315deg);
  z-index: 99;
}

#rocketLaunch {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 99;
}

#stars {
  background-image: url("../images/stars2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes Rotate {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-ms-keyframes Rotate {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }