/* ELEMENTS */

html {
    -ms-overflow-style: none;
    overflow-x: hidden;
    padding: 0;
}

html::-webkit-scrollbar { 
    width: 0 !important; 
}

header {
    text-align: center;
}

body {
    background: rgb(255, 255, 255);
}

h4 {
    /* display: inline; */
    font-size: 18px;
    width: 100%;
}

h5 {
    font-size: 14px;
}

p {
    margin-bottom: 5px;
}

/* IDENTIFIERS */

#abilitiesColLeft {
    padding-right: 10px;
}

#abilitiesColRight {
    padding-left: 10px;
}

#abilitiesContainer {
    background: rgb(250, 251, 255);
    width: 100%;
}

#abilities li {
    margin-left: -5px;
    padding: 5px;
}

#abilities li:hover {
    border: 1px dashed darkgray;
    border-radius: 12px;
    color: rgb(0, 57, 166);;
    cursor: pointer;
    padding: 4px;
}

#aboutMe {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: justify;
}

#aboutMeContainer {
    margin-top: -80px;
}

#blueAngels {
    margin-top: 0px;
    position: absolute;
    z-index: 99;
}

#contactInfo {
    background: rgba(0, 0, 255, 0.178);
    min-height: 0px;
    text-align: center;
    z-index: 100;
}

#education {
    margin-bottom: 50px;
}

#footer {
    background: rgb(41, 41, 41);
    bottom: 0;
    height: 200px;
    margin: 0px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}

#footerContainer {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#footer .icon {
    color: rgb(100, 100, 100);
}

#footer .icon:hover {
    color: rgb(245, 243, 243);
}

#footerText {
    color: white;
    font-size: 42px;
    width: 100%;
}

#mainContainer {
    margin-top: 10px;
}

#mainName {
    font-weight: 300;
    opacity: 0.9;
}

#mernImg {
    height: 50px;
    margin: -15px auto 15px auto;
    opacity: 0.85;
    /* position: absolute; */
}

#moreAboutMe {
    padding-bottom: 10px;
}

#moreQuestions {
    text-align: center;
    width: 100%;    
}

#overlay {
    background-color: rgb(0, 57, 166);
    bottom: 0;
    height: 800px;
    left: 0;
    opacity: 0.80;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#pastContainer {
    background: rgb(245, 245, 245);
}

#portfolioContainer {
    padding-bottom: 15px;
}

#profileImg {
    border: 1px solid darkgray;
    border-radius: 250px;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    padding: 0px;
    width: 250px;
}

#profileImg:hover {
    border: 4px solid rgb(0, 57, 166);
    cursor: pointer;
}

#programmingProblems {
    background: rgba(142, 142, 255, 0.178);
    margin-top: -50px;
    min-height: 0px;
    text-align: center;
    z-index: 100;
}

#prompt {
    text-align: center;
    width: 100%;
}

#promptJets {
    display: none;
    font-size: 12px;
    margin-left: -95px;
    margin-top: 0px;
    opacity: 0.5;
    padding: 5px;
    position: absolute;
    z-index: 99;
}

#quote {
    color: white;
    font-family: 'Charm', cursive;
    font-size: 40px;
    font-weight: 330;
    margin-top: -280px;
    opacity: 0;
    position: relative;
    text-align: center;
    z-index: 99;
}

#spaceneedle {
    height: 240px;
    margin-top: 7px;
    position: absolute;
    right: 70px;
}

#stars {
    background-image: url("../images/space4.jpg");
    background-repeat: no-repeat;
    height: 800px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#toastmasters, #kellerwilliams {
    padding-bottom: 8px;
    width: 100%;
}

#workExperience {
    margin-bottom: 50px;
}

#workExpContainer {
    background: rgb(245, 245, 245);
    width: 100%;
}

/* CLASSES */

.abilityLabel {
    display: inline-block;
}

.abilityScore {
    float: right;
}

.abilityScore:hover {
    color: rgb(0, 57, 166);
}

.blueAngel {
    color: rgb(0, 57, 166);
    z-index: 99;
}

.bullet {
    margin-left: -7px;
    margin-right: 7px;
    width: 10px;
}

.codeLink::before {
    content: "| ";
}

.col-lg-6, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    margin: 50px 0px 50px 0px;
    padding: 10px 0px 10px 0px;
    max-width: 100%;
    width: 100%;
}

.description {
    font-size: 14px;
}

.educationInfo {
    bottom: 0;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 115px;
    position: absolute;
}

.fa-plane {
    color: rgb(0, 57, 166);;
    display: inline-block;
    margin-right: 7px;
    transform: rotate(270deg);
}

.icon {
    margin-left: 5px;
    margin-right: 5px;
}

.item {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.jobDetails {
    float: right;
    font-size: 12px;
    margin-top: -5px;
    text-align: right;
}

.jumbotron {
    background: fixed url("../images/blueprint.jpg");
    height: 800px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    padding: 0px;
    max-width: 100vw;
}

.jumbotron .container {
    color: white;
    font-weight: 700;
    margin-top: 275px;
    position: relative;
    z-index: 4;
}

.logo, .projImg {
    border: 1px solid gray;
    float: left;
    height: 100px;
    margin: 0px 15px 0px 0px;
    width: 100px;
}

.margin-top-10 {
    margin-top: 10px;
}

.moreInfo {
    background: rgb(245, 245, 245);
    border: 1px dashed darkgray;
    display: none;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 12px 25px 0px 25px;
}

.projImg {
    float: left;
    height: 125px;
    width: 125px;
}

.project {
    display: inline-block;
    margin: 25px 0px 0px 0px;
    width: 100%;
}

.project a {
    font-size: 12px;
}

.project:first-child {
    margin-top: 0px;
}

.row {
    margin: 0px;
    min-height: 100px;
    padding: 5px 180px;
    width: 100%;
}

.sectionTitle {
    min-height: 0px;
    text-align: left;
}

.sectionTitle h4 {
    /* font-family: 'Karla', sans-serif; */
    font-size: 28px;
    font-weight: 200;
}

.sectionTitle h4::after {
    border: 0.5px solid darkgray;
    content: " ";
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
}

.showMore {
    bottom: 0;
    color: rgb(0, 57, 166) !important;
    cursor: pointer;
    font-size: 14px;
    /* position: absolute; */
}

.technology {
    border: 1px solid darkgray;
    border-radius: 12px;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px 7px 5px 7px;
    text-align: center;
}

.technology:hover {
    background: rgb(0, 57, 166);;
    color: white;
}

.techList {
    bottom: 0;
    line-height: 32px;
    margin-left: 140px;
}

/* TOASTMASTERS: DEFINE 'OFFICIAL CLUB' */

#definition {
    color: blue;
}

#officialClub {
    background: white;
    border: 2px solid black;
    color: black;
    font-size: 12px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    width: 200px;
}

/* ROCKET LAUNCH */

#gradient {
    background-image: 
        linear-gradient(
            black,
            rgb(0, 0, 37),
            rgb(88, 0, 88), 
            red, 
            orange, 
            yellow, 
            white
        );
    display: none;
    height: 100%;
    margin-top: -60px;
    opacity: 0;
    position: absolute;
    z-index: 25;
}

#launchButton {
    background-image: url("../images/border.png");
    background-repeat: no-repeat;
    /* background: rgb(206, 0, 0); */
    /* border: 3px dotted black; */
    border-radius: 70px;
    height: 70px;
    position: relative;
    text-align: center;
    width: 70px;
    z-index: 1;

    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#launchPad {
    border-radius: 70px;
    cursor: pointer;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
    width: 70px;
    z-index: 100;
}

#launchText {
    color: white;
    font-size: 13px;
    margin-left: 0px;
    margin-top: -50px;
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 2;
}

#rocket {
    margin-left: 12px;
    opacity: 0;
    padding: 0;
    transform: rotate(315deg);
    z-index: 99;
}

#rocketLaunch {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 99;
}

@-webkit-keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes Rotate {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-ms-keyframes Rotate {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {

    .educationInfo {
        position: relative;
    }

    .row {
        padding: 5px 5px;
    }

    .showMore {
        position: relative;
    }

    .techList {
        display: none;
    }

    #abilitiesColLeft {
        padding-right: 0px;
    }
    
    #abilitiesColRight {
        margin-left: -10px;
    }

    #abilitiesColRight .abilityScore {
        margin-right: -10px;
    }

    #spaceneedle {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .educationInfo {
        position: relative;
    }

    .row {
        padding: 5px 5px;
    }

    .showMore {
        position: relative;
    }

    .techList {
        display: none;
    }

    #abilitiesColLeft {
        padding-right: 0px;
    }
    
    #abilitiesColRight {
        padding-left: -10px;
    }

    #abilitiesColRight .abilityScore {
        margin-right: -10px;
    }

    #spaceneedle {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .educationInfo {
        position: relative;
    }

    .row {
        padding: 5px 5px;
    }

    .showMore {
        position: relative;
    }

    .techList {
        display: none;
    }

    #abilitiesColLeft {
        padding-right: 0px;
    }
    
    #abilitiesColRight {
        padding-left: -10px;
    }

    #abilitiesColRight .abilityScore {
        margin-right: -10px;
    }

    #spaceneedle {
        display: none;
    }
}