/* ELEMENTS */

html {
    padding: 0;
}

header {
    text-align: center;
}

body {
    background: rgb(255, 255, 255);
}

h4 {
    /* display: inline; */
    font-size: 18px;
    width: 100%;
}

h5 {
    font-size: 14px;
}

p {
    margin-bottom: 5px;
}

/* IDENTIFIERS */

#abilityColLeft {
    margin-left: 0px;
    padding-left: 0px;
}

#abilitiesContainer {
    background: rgb(226, 229, 255);
    width: 100%;
}

#abilities li {
    margin-left: -5px;
    padding: 5px;
}

#abilities li:hover {
    border: 1px dashed darkgray;
    border-radius: 12px;
    color: blue;
    cursor: pointer;
    padding: 4px;
}

#aboutMe {
    font-size: 14px;
    padding-left: 5px;
    margin-right: -65px;
    text-align: justify;
}

#contactInfo {
    background: rgba(0, 0, 255, 0.178);
    min-height: 0px;
    margin-top: -20px;
    text-align: center;
    z-index: 100;
}

#footer {
    background: rgb(41, 41, 41);
    bottom: 0;
    height: 200px;
    margin: 0px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}

#footer .icon {
    color: rgb(100, 100, 100);
}

#footer .icon:hover {
    color: rgb(245, 243, 243);
}

#footerText {
    color: white;
    font-size: 42px;
}

#mainName {
    opacity: 0.9;
}

#overlay {
    background-color: rgb(0, 57, 166);
    bottom: 0;
    height: 850px;
    left: 0;
    opacity: 0.80;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#portfolio {
    padding-left: 0px;
}

#profileImg {
    border: 1px solid darkgray;
    border-radius: 250px;
    height: 255px;
    margin-bottom: -35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0px;
    width: 250px;
}

#profileImg:hover {
    border: 3px solid rgb(34, 104, 255);
}

#workExpContainer {
    background: rgb(245, 245, 245);
    width: 100%;
}

/* CLASSES */

.abilityLabel {
    display: inline-block;
}

.abilityScore {
    float: right;
}

.abilityScore:hover {
    color: blue;
}

.description {
    font-size: 14px;
}

.fa-plane {
    color: blue;
    display: inline-block;
    margin-left: 65px;
    transform: rotate(270deg);
}

.icon {
    margin-left: 5px;
    margin-right: 5px;
}

.item {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.jobDetails {
    float: right;
    font-size: 12px;
    margin-top: -5px;
    text-align: right;
}

.jumbotron {
    background: fixed url("../images/blueprint.jpg");
    height: 850px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

.jumbotron .container {
    color: white;
    font-weight: 700;
    margin-top: 350px;
    position: relative;
    z-index: 4;
}

.logo, .projImg {
    border: 1px solid gray;
    float: left;
    height: 100px;
    margin: 0px 15px 0px 0px;
    width: 100px;
}

.margin-top-10 {
    margin-top: 10px;
}

.moreInfo {
    background: rgb(235, 235, 235);
    border: 1px dashed darkgray;
    display: none;
    font-size: 14px;
    margin-top: 15px;
    padding: 15px 25px 10px 25px;
}

.projImg {
    float: left;
    height: 125px;
    width: 125px;
}

.project {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.row {
    margin-top: 5px;
    min-height: 100px;
    padding: 15px;
}

.sectionTitle {
    margin-bottom: -10px;
    min-height: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.showMore {
    bottom: 0;
    color: blue !important;
    cursor: pointer;
    float: left;
    font-size: 12px;
    position: absolute;
}

.technology {
    border: 1px solid darkgray;
    border-radius: 12px;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px 7px 5px 7px;
    text-align: center;
}

.technology:hover {
    background: rgb(40, 40, 255);
    color: white;
}

.techList {
    line-height: 32px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

}